.input-searchbar{
    color: white !important;
}

.searchbar_form{
    min-width: 120; 
    width: 100%; 
    margin: 2.5rem auto ; 
    display: flex; 
    justify-content: center; 
    flex-direction: row;
}

.searchbar_inputs{
    z-index: 1; 
    display: flex; 
    width: 70%; 
    justify-content: space-around; 
    padding: 0.5rem 2.5rem; 
    gap: 3.5rem;
}

@media screen and (max-width: 767px) {
    .searchbar_form{  
        flex-direction: column;
        justify-content: center; 
        align-items: center;
    }
    .searchbar_inputs{
        flex-direction: column;
        justify-content: center;
        gap:1rem
    }

}