@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
  --color-primario: #070607;
  /*layouts, backgrounds*/
  --color-secundario: rgb(250, 250, 250);
  /*color fonts hovers & selected*/
  --color-terciario: #9d9c9d;
  /*color fonts normals*/
  --color-hover: #2e2d2d;
  /*hovers backgrounds*/
  --color-main: #0e0c0d;
}

html {
  overflow-x: initial !important;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #e4e1e1;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-page {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.help-page span{
  color: var(--color-terciario);
}

.help-page span:hover{
  color: var(--color-secundario);
  text-shadow: var(--color-secundario) 3px 0px 10px;
}

.faqs_list{
  display:flex;
  flex-direction: column;
  margin-top:3rem
}
.main-container {
  display: flex;
  width: 100%;
  justify-content: center
}

.logo-main {
  width: 300px;
}

.base-layout {
  display: flex;
}

.layout-sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  z-index: 1;
}



.category_container{
  display: flex;
  width: 60%;
  align-self: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 1rem;
  gap: 0.5rem;
}

.categoty_item {
  font-size: 1rem;
  text-decoration: none;
  color: var(--color-terciario);
  background-color: var(--color-primario);
  transition: all 0.3s ease-in-out;
  padding-top: 25px;
  padding-bottom: 25px;
  flex-basis: 150px;

}

.categoty_item:hover {
  color: var(--color-secundario);
  text-shadow: var(--color-secundario) 3px 0px 10px;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.layout-navbar {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 1000
}

.layout-footer {
  background-color: var(--color-primario);
  display: flex;
  justify-content: center;
  transition: none;
  margin-top:100px;
}

.cardProfile{
  display: block;
  position: fixed;
  top: 1%;
  width: 90vw;
  height: 100%;
  z-index: 199;
  bottom: 25px;
}
.hiddenProfile{
  display: none;
}

.cardProfile-background{
  left: 30%;
  top: 15%;
  bottom: 20%;
  position: fixed;
  width: 500px;
  height: 500px;
  background:linear-gradient(90deg, rgba(48,48,48,1) 0%, rgba(42,42,42,1) 45%, #d67ab1 100%);
  z-index: 20;
  border-radius: 50%;
  box-shadow: 0px 20px 100px 50px;
  animation: rotate 5s linear infinite;
}
.cardProfile-general{
  flex-direction: column;
  align-content: center;
  align-items: center;
  display: flex;
  top: 16%;
  left: 30.4%;
  bottom: 20%;
  position: fixed;
  width: 490px;
  height: 490px;
  background-color: #0e0c0d;
  z-index: 100;
  border-radius: 50%;
}
.cardProfile-title{
  color: white;
  padding-top: 40px;
}

.image-profile{
  left: 29%;
  top: 14%;
  bottom: 19%;
  position: fixed;
  z-index: 21;
  animation: rotate 15s linear infinite;
}
.cardProfile-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  color: white;
}
.cardProfile-userName{
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.cardProfile-events{
  padding-top: 20px;
}

.cardProfile-close-button{
  cursor: pointer;
  margin-top: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  background-color: #d67ab1;
  border-radius: 5%;
}
.cardProfile-description{
  display: flex;
}
.cardProfile-chart{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  width: 150px;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 1400px){
  .cardProfile-general{
    width: 590px;
    height: 590px;
    max-width: 590px;
    max-height: 590px;
    left:40.2% ;
    top:15.8% ;
  }
  .image-profile{
    left: 39.5%;
    top: 14.5%;
    width: 625px;
    height: 615px;
    max-width: 625px;
    max-height: 615px;
  }
  .cardProfile-background{
    left: 40%;
    top: 15.3%;
    width: 600px;
    height: 600px;
    max-width: 600px;
    max-height: 600px;
    
  }
}
/* Cambia el ancho del pulgar del scrollbar */
::-webkit-scrollbar-thumb {
  background-color: var(--color-hover);
  width: 40px;
  border-radius: 10px;
}

/* Cambia el ancho de la pista del scrollbar */
::-webkit-scrollbar-track {
  width: 40px;
  background-color: #cecdcd;
}

/* Oculta el scrollbar en navegadores WebKit */
::-webkit-scrollbar {
  width: 10px;
}


/*Mobile*/
@media screen and (max-width: 767px) {
  .main {
    overflow: unset;
    padding-top: 48px;
  }

  .main-container {
    flex-direction: column;
  }

  .layout-footer {
    display: none;
  }

}