
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
  --color-primario: #070607; /*layouts, backgrounds*/
  --color-secundario:rgb(250, 250, 250);/*color fonts hovers & selected*/
  --color-terciario:#9d9c9d;/*color fonts normals*/
  --color-hover:#2e2d2d;/*hovers backgrounds*/
  --color-main:#0e0c0d;
}
html {
  overflow-x: initial !important;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: #e4e1e1;
}
.general-l{
  display: flex;
}
.layout-sidebar{
  display: flex;
  height: 100vh;
  gap: 2rem;
  position:relative;
}

.layout-navbar-footer{
  display: flex;
  flex-direction: column;
}
.layout-navbar{
  display: flex;
  flex-direction: column;
  
}

.layout-footer{
  background-color: var(--color-primario);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0%;
  height: 8.5%;
  align-items: center;
  transition:none;
}

.footer_list{
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none
}

.main{
  /* Establece una altura mínima del 100% del viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
}


.navbar{
    display: flex;
    width: 100%;
    height: 4rem;
    background-color: var(--color-primario);
    align-items: center;
    justify-content: flex-end;
}

.navbar_list{
  display: flex;
  list-style: none;
}
.navbar_link{
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-decoration: none;
  color: var(--color-terciario);
  display: flex;
  background-color: var(--color-primario);
  justify-content: flex-start;
  margin-right: 20px;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
}
.navbar_link:hover{
  color: var(--color-secundario);
  text-shadow: var(--color-secundario) 3px 0px 10px ;
}


/* Cambia el ancho del pulgar del scrollbar */
::-webkit-scrollbar-thumb {
  background-color: var(--color-hover);
  width: 40px;
  border-radius: 10px;
}

/* Cambia el ancho de la pista del scrollbar */
::-webkit-scrollbar-track {
  width: 40px;
  background-color: #cecdcd;
}

/* Oculta el scrollbar en navegadores WebKit */
::-webkit-scrollbar {
  width: 10px;
}



/*Mobile*/
@media screen and (max-width: 767px) {
  .main{
    overflow:unset;
    padding-top: 48px;
  }
  .navbar{
    height: 3rem;
    position: fixed;
  }
  .layout-footer{
    display: none;
  }
  .sidebar{
    display: flex;
    flex-direction: row;
    width: 100vw;
    position: fixed;
    bottom: 0%;
    height: 8.5%;
    align-items: center;
    transition:none;
  }
  .sidebar_wrapper{
    position: inherit;
  }
  .sidebar_list{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
  }
  .sidebar_logo{
    display: none;
  }
  .sidebar_logoName{
    display: none;
  }
  .sidebar_name{
    margin: 0px;
    font-size: 13px;
  }
  .sidebar_link{
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    padding: 0px 10px
  }
  .sidebar_top{
    display: none;
  }
  .sidebar_btn{
    display: none;
  }
  .sidebar_link:hover{
    background-color: var(--color-primario);
  }
  .sidebar_link.selected{
    background-color: var(--color-primario);
  }
  
}