.cardUpcoming-container{
    display: flex !important;
    flex-direction: column !important;
    width: 450px !important;
}
.cardUpcoming-general{
    width: 90% !important;
    height: 110px !important;
    background-color: #0d0b0d !important;
    color: rgb(224, 223, 223) !important;
    box-sizing: border-box !important;
    border-bottom: 1px solid white !important;
    padding: 15px !important;
}
.custom-Upcoming-container{
    display: flex !important;
    justify-content: center !important;
}
.upcoming-section{
    padding-left: 20px;
}
.cardUpcoming-image-container{
    width:100px !important;
    height:100px !important;
}
.cardUpcoming-general:hover{
    .cardUpcoming-image{
        width:85px !important;
        height:85px !important;
        transition: 0.1s ease-in-out !important;
        box-shadow: -18px 20px 25px -30px rgb(216, 111, 176), 
        20px -20px 25px -30px rgb(177, 111, 216), 
        -17px -20px 25px -30px rgb(176, 39, 204), 
        20px 20px 25px -30px rgb(169, 27, 182) !important;
        z-index: 100 !important;
    }
}
.cardUpcoming-image{
    width: 80px !important;
    height: 80px !important;
    cursor: pointer !important;
}
.cardUpcoming-elements{
    display: flex !important;
    cursor: pointer !important;
}
.cardUpcoming-info{
    display: flex !important;
    flex-direction: column !important;
    width: 55% !important;
    justify-content: space-evenly !important;
    align-content: flex-start !important;
    align-items: flex-start !important;
}
.cardUpcoming-description{
    font-size: 12px !important;
    width: 100% !important;
    margin-bottom: 1rem !important;
}
.cardUpcoming-date-ubication{
    display: flex !important;
    align-items: center !important;
}
.cardUpcoming-typography{
    font-size: 13px !important;
    font-weight: 600 !important;
}
.cardUpcoming-typography-description{
    font-size: 12px !important;
}
.subcard-Upcoming{
    display:flex !important;
    height:35px !important;
    background-color: rgba(68, 68, 68, 0) !important;
    margin-left: 37px  !important;
    border-radius:0 !important;
    width: 70% !important;
    justify-content: space-around !important;
}
.subcard-Upcoming-typepography{
    font-size: 20px !important;
    font-weight: 400 !important;
    color:white !important;
    text-align-last: center !important;
}
.boton-Upcoming{
    width:130px !important;
    font-size:13px !important;
    border:none !important;
    color:rgb(180, 178, 178) !important;
    margin:0 !important;

}
.boton-Upcoming:hover{
    border:none !important;
    background-color:rgba(255, 255, 255, 0) !important;
    color:white !important;
}
@media screen and (max-width: 767px) {
    .upcoming-section{
        display: flex !important;
        flex-direction: column !important;
        padding-top: 65% !important;
        align-items: center !important;
    }
    .cardUpcoming-container{
        max-width:100vw !important;
    }
    
}
